/* Small devices */

@media (max-width: 849.98px) {
    #home, #newsletter {
        height: 50%;
    }
    #home h1 {
        font-size: 2.5em;
    }
    #home p {
        font-size: 1.5em;
    }
}

/* Others devices */

@media (min-width: 850px) {
    #home, #newsletter {
        height: 75%;
    }
    #home h1 {
        font-size: 4em;
    }
    #home p {
        font-size: 2em;
    }
}

body, html {
    height: 100%;
}

header {
    font-size: 1.2em;
}

#home, #newsletter{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    background-size: cover;
    background-color: #ff9a01;
    background-repeat: no-repeat;
}

#home {
    background-image: linear-gradient(50deg, #ffa55cbb, #ffcdab66), url(../img/cover.jpg);
}

#newsletter {
    background-image: linear-gradient(50deg, #ffa55cbb, #94522679), url(../img/newsletter.jpg);
}

.box{
    margin: 0.4em;
    max-width: 522px;
    padding: 1.5em 2em;
    border-radius: 0.3em;
}

.box h4{
    margin: 0;
}

.box-icon{
    width: 3em;
    height: 3em;
    color: #5d5d5a;
}
.box a{
    color: #ffa45c;

}